---
/**
 * Lineup Section - STL Festival 2026
 * Seção com 3 mockups: iPhone central com vídeo + 2 Posts laterais com artistas
 * Scroll interativo sincronizado usando RAF
 */

import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import LineupReact from './lineup/LineupReact';
import type { Artist } from './lineup/lineup.types';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// Vídeo e fallback
const lineupVideo = '/assets/videos/lineup.mp4';
const videoFallback = '/assets/img/artistas/todos juntos/12.png';

// Dados dos artistas (8 artistas conforme imagens fornecidas)
// URLs das imagens dos artistas (arquivos locais)
const artists: Artist[] = [
  {
    id: '1',
    name: 'Edson Gomes',
    imageUrl: '/assets/img/artistas/13.png',
    genre: 'Reggae',
  },
  {
    id: '2',
    name: 'Matuê',
    imageUrl: '/assets/img/artistas/14.png',
    genre: 'Trap',
  },
  {
    id: '3',
    name: 'Marcelo D2',
    imageUrl: '/assets/img/artistas/15.png',
    genre: 'Rap',
  },
  {
    id: '4',
    name: 'Marcelo Falcão',
    imageUrl: '/assets/img/artistas/16.png',
    genre: 'Reggae',
  },
  {
    id: '5',
    name: 'Djonga',
    imageUrl: '/assets/img/artistas/17.png',
    genre: 'Rap',
  },
  {
    id: '6',
    name: 'Planta e Raiz',
    imageUrl: '/assets/img/artistas/18.png',
    genre: 'Reggae',
  },
  {
    id: '7',
    name: 'Cidade Negra',
    imageUrl: '/assets/img/artistas/19.png',
    genre: 'Reggae',
  },
  {
    id: '8',
    name: 'Rael + Cynthia Luz',
    imageUrl: '/assets/img/artistas/20.png',
    genre: 'Rap',
  },
];
---

<section
  id="lineup"
  class="lineup-section"
  role="region"
  aria-label={t('lineup.sectionLabel')}
>
  <!-- Container principal -->
  <div class="lineup-container">
    <!-- Título da seção -->
    <div class="lineup-header">
      <h2 class="lineup-title">{t('lineup.title')}</h2>
      <p class="lineup-subtitle">{t('lineup.subtitle')}</p>
    </div>

    <!-- Grid dos mockups -->
    <div class="lineup-mockups-grid">
      <!-- Mockup Post - Esquerda -->
      <div class="lineup-mockup lineup-mockup--left" id="lineup-mockup-left">
        <svg
          width="484"
          height="698"
          viewBox="0 0 484 698"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          class="lineup-mockup__svg"
        >
          <g filter="url(#filter0_d_left)">
            <!-- Cabeçalho branco -->
            <path
              d="M39.8 71.5309C39.8 61.7384 47.7385 53.8 57.531 53.8H399.318C409.11 53.8 417.049 61.7384 417.049 71.5309V119.776H39.8V71.5309Z"
              fill="white"></path>

            <!-- Logo do perfil com pattern -->
            <rect
              x="56.8"
              y="64.8"
              width="41.8407"
              height="41.8407"
              rx="20.9203"
              fill="url(#pattern0_left)"></rect>

            <!-- Texto "stlfestival" vetorizado -->
            <path
              d="M114.422 92.3393C113.763 92.3393 113.19 92.2438 112.702 92.0527C112.214 91.8565 111.827 91.5874 111.54 91.2454C111.253 90.8984 111.085 90.496 111.034 90.0383V90.0233H112.679V90.0383C112.785 90.3451 112.986 90.5941 113.283 90.7852C113.579 90.9763 113.972 91.0719 114.459 91.0719C114.796 91.0719 115.091 91.0241 115.342 90.9286C115.599 90.833 115.8 90.6997 115.946 90.5287C116.092 90.3577 116.164 90.1616 116.164 89.9403V89.9252C116.164 89.6687 116.061 89.4524 115.855 89.2764C115.649 89.1003 115.309 88.957 114.837 88.8463L113.524 88.5446C113.011 88.4289 112.586 88.2705 112.249 88.0693C111.912 87.8681 111.663 87.6217 111.502 87.33C111.341 87.0332 111.261 86.6862 111.261 86.2888V86.2813C111.261 85.8035 111.397 85.381 111.668 85.0139C111.94 84.6417 112.314 84.3525 112.792 84.1463C113.275 83.935 113.826 83.8294 114.444 83.8294C115.068 83.8294 115.611 83.9275 116.074 84.1236C116.542 84.3148 116.911 84.5813 117.183 84.9233C117.455 85.2603 117.616 85.6526 117.666 86.1002V86.1078H116.097V86.0927C116.021 85.806 115.84 85.5671 115.553 85.376C115.272 85.1849 114.9 85.0893 114.437 85.0893C114.14 85.0893 113.876 85.1371 113.645 85.2327C113.413 85.3232 113.23 85.4514 113.094 85.6174C112.963 85.7784 112.898 85.9695 112.898 86.1908V86.2059C112.898 86.3769 112.941 86.5277 113.026 86.6585C113.117 86.7843 113.257 86.8974 113.449 86.998C113.64 87.0936 113.886 87.1791 114.188 87.2545L115.493 87.5487C116.278 87.7348 116.861 88.0039 117.243 88.356C117.631 88.708 117.824 89.1808 117.824 89.7743V89.7894C117.824 90.2923 117.676 90.7374 117.379 91.1247C117.082 91.507 116.678 91.8062 116.164 92.0225C115.657 92.2337 115.076 92.3393 114.422 92.3393ZM122.803 92.2337C121.908 92.2337 121.259 92.0627 120.857 91.7207C120.46 91.3737 120.261 90.8079 120.261 90.0233V85.2779H118.979V83.9879H120.261V81.9207H121.936V83.9879H123.694V85.2779H121.936V89.6234C121.936 90.066 122.024 90.3854 122.2 90.5815C122.376 90.7726 122.668 90.8682 123.075 90.8682C123.196 90.8682 123.299 90.8657 123.384 90.8607C123.475 90.8556 123.578 90.8481 123.694 90.838V92.1507C123.563 92.1708 123.422 92.1885 123.271 92.2035C123.12 92.2237 122.964 92.2337 122.803 92.2337ZM125.685 92.1809V80.774H127.322V92.1809H125.685ZM130.34 92.1809V85.2779H128.99V83.9879H130.34V83.1278C130.34 82.5796 130.431 82.1269 130.612 81.7698C130.798 81.4077 131.079 81.1386 131.457 80.9626C131.834 80.7866 132.309 80.6986 132.883 80.6986C133.064 80.6986 133.232 80.7061 133.388 80.7212C133.549 80.7312 133.702 80.7489 133.848 80.774V81.9811C133.773 81.966 133.68 81.9559 133.569 81.9509C133.463 81.9408 133.348 81.9358 133.222 81.9358C132.769 81.9358 132.445 82.0439 132.249 82.2602C132.058 82.4765 131.962 82.7908 131.962 83.2032V83.9879H133.773V85.2779H131.977V92.1809H130.34ZM138.737 92.3393C137.937 92.3393 137.251 92.1683 136.677 91.8263C136.104 91.4793 135.661 90.9889 135.35 90.3552C135.043 89.7215 134.889 88.9721 134.889 88.107V88.0995C134.889 87.2445 135.043 86.4976 135.35 85.8588C135.661 85.2201 136.099 84.7222 136.662 84.3651C137.231 84.008 137.894 83.8294 138.654 83.8294C139.418 83.8294 140.075 84.0004 140.623 84.3424C141.176 84.6844 141.601 85.1648 141.898 85.7834C142.195 86.397 142.343 87.1162 142.343 87.941V88.5144H135.719V87.345H141.528L140.744 88.4314V87.7751C140.744 87.1916 140.653 86.7088 140.472 86.3266C140.296 85.9393 140.052 85.6501 139.74 85.459C139.428 85.2679 139.069 85.1723 138.661 85.1723C138.254 85.1723 137.889 85.2729 137.568 85.4741C137.251 85.6702 136.999 85.9619 136.813 86.3492C136.632 86.7365 136.542 87.2118 136.542 87.7751V88.4314C136.542 88.9696 136.632 89.4298 136.813 89.812C136.994 90.1943 137.251 90.486 137.583 90.6871C137.92 90.8883 138.317 90.9889 138.775 90.9889C139.127 90.9889 139.428 90.9411 139.68 90.8456C139.936 90.745 140.145 90.6218 140.306 90.4759C140.472 90.3301 140.585 90.1867 140.646 90.0459L140.676 89.9855H142.26L142.245 90.0534C142.175 90.325 142.051 90.5966 141.875 90.8682C141.699 91.1348 141.465 91.3787 141.174 91.6C140.887 91.8213 140.54 91.9998 140.133 92.1356C139.73 92.2714 139.265 92.3393 138.737 92.3393ZM147.269 92.3393C146.611 92.3393 146.037 92.2438 145.549 92.0527C145.061 91.8565 144.674 91.5874 144.388 91.2454C144.101 90.8984 143.932 90.496 143.882 90.0383V90.0233H145.527V90.0383C145.632 90.3451 145.834 90.5941 146.13 90.7852C146.427 90.9763 146.819 91.0719 147.307 91.0719C147.644 91.0719 147.938 91.0241 148.19 90.9286C148.446 90.833 148.648 90.6997 148.793 90.5287C148.939 90.3577 149.012 90.1616 149.012 89.9403V89.9252C149.012 89.6687 148.909 89.4524 148.703 89.2764C148.497 89.1003 148.157 88.957 147.684 88.8463L146.372 88.5446C145.859 88.4289 145.434 88.2705 145.097 88.0693C144.76 87.8681 144.511 87.6217 144.35 87.33C144.189 87.0332 144.108 86.6862 144.108 86.2888V86.2813C144.108 85.8035 144.244 85.381 144.516 85.0139C144.787 84.6417 145.162 84.3525 145.64 84.1463C146.123 83.935 146.673 83.8294 147.292 83.8294C147.916 83.8294 148.459 83.9275 148.922 84.1236C149.389 84.3148 149.759 84.5813 150.031 84.9233C150.302 85.2603 150.463 85.6526 150.513 86.1002V86.1078H148.944V86.0927C148.869 85.806 148.688 85.5671 148.401 85.376C148.119 85.1849 147.747 85.0893 147.285 85.0893C146.988 85.0893 146.724 85.1371 146.492 85.2327C146.261 85.3232 146.077 85.4514 145.942 85.6174C145.811 85.7784 145.746 85.9695 145.746 86.1908V86.2059C145.746 86.3769 145.788 86.5277 145.874 86.6585C145.964 86.7843 146.105 86.8974 146.296 86.998C146.487 87.0936 146.734 87.1791 147.036 87.2545L148.341 87.5487C149.125 87.7348 149.709 88.0039 150.091 88.356C150.478 88.708 150.672 89.1808 150.672 89.7743V89.7894C150.672 90.2923 150.524 90.7374 150.227 91.1247C149.93 91.507 149.525 91.8062 149.012 92.0225C148.504 92.2337 147.923 92.3393 147.269 92.3393ZM155.651 92.2337C154.756 92.2337 154.107 92.0627 153.705 91.7207C153.307 91.3737 153.109 90.8079 153.109 90.0233V85.2779H151.826V83.9879H153.109V81.9207H154.784V83.9879H156.541V85.2779H154.784V89.6234C154.784 90.066 154.872 90.3854 155.048 90.5815C155.224 90.7726 155.515 90.8682 155.923 90.8682C156.043 90.8682 156.147 90.8657 156.232 90.8607C156.323 90.8556 156.426 90.8481 156.541 90.838V92.1507C156.411 92.1708 156.27 92.1885 156.119 92.2035C155.968 92.2237 155.812 92.2337 155.651 92.2337ZM158.48 92.1809V83.9879H160.125V92.1809H158.48ZM159.31 82.5243C159.028 82.5243 158.787 82.4237 158.586 82.2225C158.385 82.0213 158.284 81.7799 158.284 81.4982C158.284 81.2166 158.385 80.9777 158.586 80.7815C158.787 80.5804 159.028 80.4798 159.31 80.4798C159.592 80.4798 159.833 80.5804 160.034 80.7815C160.236 80.9777 160.336 81.2166 160.336 81.4982C160.336 81.7799 160.236 82.0213 160.034 82.2225C159.833 82.4237 159.592 82.5243 159.31 82.5243ZM164.757 92.1809L161.792 83.9879H163.535L165.579 90.5212H165.7L167.737 83.9879H169.465L166.507 92.1809H164.757ZM173.078 92.3167C172.56 92.3167 172.095 92.2186 171.683 92.0225C171.275 91.8213 170.953 91.5371 170.717 91.17C170.481 90.8028 170.362 90.3728 170.362 89.8799V89.8648C170.362 89.3719 170.481 88.952 170.717 88.6049C170.958 88.2579 171.305 87.9863 171.758 87.7902C172.216 87.589 172.769 87.4683 173.418 87.428L176.443 87.247V88.4012L173.644 88.5823C173.081 88.6175 172.666 88.7382 172.399 88.9444C172.133 89.1456 172 89.4298 172 89.7969V89.812C172 90.1842 172.143 90.4784 172.43 90.6947C172.716 90.9059 173.078 91.0115 173.516 91.0115C173.923 91.0115 174.285 90.9311 174.602 90.7701C174.924 90.6042 175.176 90.3829 175.357 90.1062C175.538 89.8246 175.628 89.5077 175.628 89.1557V86.5755C175.628 86.1229 175.487 85.7784 175.206 85.542C174.929 85.3006 174.517 85.1798 173.969 85.1798C173.511 85.1798 173.136 85.2603 172.844 85.4213C172.558 85.5822 172.367 85.8085 172.271 86.1002L172.256 86.1229H170.679L170.687 86.0701C170.752 85.6174 170.931 85.2251 171.222 84.8932C171.519 84.5562 171.906 84.2947 172.384 84.1086C172.867 83.9225 173.418 83.8294 174.036 83.8294C174.725 83.8294 175.309 83.9401 175.787 84.1614C176.27 84.3776 176.634 84.692 176.881 85.1044C177.132 85.5118 177.258 86.0022 177.258 86.5755V92.1809H175.628V91.0191H175.508C175.347 91.2957 175.145 91.5321 174.904 91.7283C174.663 91.9194 174.389 92.0652 174.082 92.1658C173.775 92.2664 173.44 92.3167 173.078 92.3167ZM179.642 92.1809V80.774H181.279V92.1809H179.642Z"
              fill="#181930"></path>

            <!-- Ícone de verificação azul -->
            <path
              d="M195.908 78.925L197.195 80.9155L199.563 81.034L199.682 83.4014L201.674 84.6876L200.594 86.7981L201.675 88.9075L199.685 90.1949L199.566 92.5626L197.199 92.6822L195.912 94.6739L193.802 93.5935L191.693 94.675L190.405 92.6845L188.037 92.566L187.918 90.1986L185.926 88.9124L187.007 86.8019L185.925 84.6925L187.916 83.4051L188.034 81.0374L190.401 80.9177L191.688 78.9261L193.798 80.0065L195.908 78.925Z"
              fill="#42A5F5"></path>
            <path
              d="M192.824 89.5206L190.387 87.085L191.183 86.2896L192.836 87.9422L196.424 84.4645L197.207 85.2722L192.824 89.5206Z"
              fill="white"></path>

            <!-- Área do conteúdo do post onde a imagem do artista será inserida -->
            <foreignObject
              x="39.8"
              y="119.776"
              width="377.249"
              height="465.024"
            >
              <div class="lineup-artist-container" id="lineup-artist-left">
                <img
                  src={artists[0]?.imageUrl ?? ''}
                  alt={artists[0]?.name ?? ''}
                  class="lineup-artist-image"
                  loading="eager"
                />
              </div>
            </foreignObject>

            <!-- Footer branco -->
            <path
              d="M40.8 627.895C40.8 637.688 48.7385 645.626 58.531 645.626H400.318C410.11 645.626 418.049 637.688 418.049 627.895V589.8H40.8V627.895Z"
              fill="white"></path>

            <!-- Ícones de interação -->
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M386.43 620.918L393.921 627.161C394.219 627.41 394.672 627.198 394.672 626.81V607.639H378.187V626.81C378.187 627.198 378.64 627.41 378.938 627.161L386.43 620.918ZM380.248 623.388L385.11 619.335C385.875 618.699 386.985 618.699 387.749 619.335L392.612 623.388V609.699H380.248V623.388Z"
              fill="#0C2322"></path>
            <path
              d="M70.004 627.484C69.7272 627.484 69.5427 627.39 69.2659 627.297C66.498 625.248 63.73 623.013 61.608 619.939C60.9621 618.821 59.9472 617.145 59.9472 615.095C59.8549 612.581 61.3312 610.252 63.4532 609.32C65.5753 608.389 68.1587 608.948 70.004 610.718L70.0963 610.904C70.1885 610.811 70.2808 610.718 70.373 610.624C72.4029 608.762 75.1708 608.389 77.3851 609.693C79.5994 611.09 80.7066 613.885 80.0608 616.586C79.5072 618.914 78.031 620.777 76.7393 622.268C74.894 624.317 72.7719 625.9 70.9266 627.297C70.7421 627.39 70.373 627.484 70.004 627.484ZM65.5753 610.718C65.114 610.718 64.5604 610.811 64.0991 610.997C62.7151 611.649 61.7925 613.326 61.7925 615.095C61.7925 616.306 62.2538 617.517 63.1765 618.914C65.0217 621.616 67.6051 623.665 70.0963 625.528C71.8493 624.224 73.6946 622.733 75.3553 620.87C76.5547 619.473 77.7542 617.983 78.2155 616.027C78.6768 614.164 77.9387 612.115 76.3702 611.183C74.894 610.252 73.0487 610.531 71.5725 611.929C71.3879 612.115 71.2034 612.301 71.0189 612.487L70.0963 613.512L68.62 612.022C67.7897 611.183 66.6825 610.718 65.5753 610.718Z"
              fill="#0C1014"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M99.5959 611.533C99.0222 610.891 99.3893 609.721 100.394 609.721L117.082 609.721C117.381 609.721 117.658 609.879 117.81 610.137C117.962 610.395 117.967 610.714 117.822 610.976L109.479 626.081C109.002 626.943 107.77 626.758 107.508 625.859L105.139 617.74L99.5959 611.533ZM106.891 617.707L108.717 623.961L114.813 612.924L106.891 617.707ZM114.044 611.412L101.756 611.412L106.061 616.233L114.044 611.412Z"
              fill="#0C1014"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M146.22 609.536C141.704 609.536 138.043 613.197 138.043 617.713C138.043 622.229 141.704 625.889 146.22 625.889C147.754 625.889 149.187 625.468 150.412 624.735C150.608 624.617 150.844 624.584 151.065 624.643L153.92 625.408L153.154 622.551C153.095 622.33 153.128 622.095 153.245 621.899C153.976 620.675 154.396 619.244 154.396 617.713C154.396 613.197 150.736 609.536 146.22 609.536ZM136.352 617.713C136.352 612.263 140.77 607.845 146.22 607.845C151.67 607.845 156.088 612.263 156.088 617.713C156.088 619.428 155.65 621.043 154.879 622.45L155.933 626.386C156.012 626.677 155.928 626.989 155.714 627.203C155.501 627.416 155.189 627.5 154.897 627.422L150.964 626.368C149.556 627.141 147.938 627.581 146.22 627.581C140.77 627.581 136.352 623.163 136.352 617.713Z"
              fill="#0C2322"></path>
          </g>
          <defs>
            <filter
              id="filter0_d_left"
              x="0"
              y="0"
              width="484"
              height="698"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha"></feColorMatrix>
              <feOffset dx="13" dy="-1"></feOffset>
              <feGaussianBlur stdDeviation="26.4"></feGaussianBlur>
              <feComposite in2="hardAlpha" operator="out"></feComposite>
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.05 0"
              ></feColorMatrix>
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow"></feBlend>
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow"
                result="shape"></feBlend>
            </filter>
            <pattern
              id="pattern0_left"
              patternContentUnits="objectBoundingBox"
              width="1"
              height="1"
            >
              <use
                xlink:href="#image0_left"
                transform="matrix(0.00191936 0 0 0.00136528 -0.182811 0.00680237)"
              ></use>
            </pattern>
            <image
              id="image0_left"
              width="755"
              height="708"
              xlink:href="https://res.cloudinary.com/dazkdemvu/image/upload/v1769618833/stl-festival/logos/logo-stl_ydnwga.svg"
            />
          </defs>
        </svg>
      </div>

      <!-- Mockup iPhone - Centro -->
      <div
        class="lineup-mockup lineup-mockup--center"
        id="lineup-mockup-center"
      >
        <svg
          width="823"
          height="1670"
          viewBox="0 0 823 1670"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="lineup-mockup__svg"
        >
          <!-- Corpo do iPhone -->
          <g clip-path="url(#clip4_iphone)">
            <rect
              x="5.943"
              y="0.001"
              width="810.237"
              height="1670"
              rx="122.823"
              fill="black"></rect>
          </g>

          <!-- Tela do iPhone onde o vídeo/placeholder será inserido -->
          <g clip-path="url(#clip5_iphone)">
            <rect
              x="13.867"
              y="7.925"
              width="794.389"
              height="1654.15"
              rx="114.899"
              fill="#000100"></rect>

            <foreignObject
              x="13.867"
              y="7.925"
              width="794.389"
              height="1654.15"
            >
              <div class="lineup-video-container" id="lineup-video-wrapper">
                <video
                  class="lineup-video"
                  autoplay
                  loop
                  muted
                  playsinline
                  poster={videoFallback}
                >
                  <source src={lineupVideo} type="video/mp4" />
                </video>
              </div>
            </foreignObject>
          </g>

          <defs>
            <clipPath id="clip4_iphone">
              <rect
                x="5.943"
                y="0.000488281"
                width="810.237"
                height="1670"
                rx="122.823"
                fill="white"></rect>
            </clipPath>
            <clipPath id="clip5_iphone">
              <rect
                x="13.867"
                y="7.924"
                width="794.389"
                height="1654.15"
                rx="114.899"
                fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>

      <!-- Mockup Post - Direita -->
      <div class="lineup-mockup lineup-mockup--right" id="lineup-mockup-right">
        <svg
          width="484"
          height="698"
          viewBox="0 0 484 698"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          class="lineup-mockup__svg"
        >
          <g filter="url(#filter0_d_right)">
            <!-- Cabeçalho branco -->
            <path
              d="M39.8 71.5309C39.8 61.7384 47.7385 53.8 57.531 53.8H399.318C409.11 53.8 417.049 61.7384 417.049 71.5309V119.776H39.8V71.5309Z"
              fill="white"></path>

            <!-- Logo do perfil com pattern -->
            <rect
              x="56.8"
              y="64.8"
              width="41.8407"
              height="41.8407"
              rx="20.9203"
              fill="url(#pattern0_right)"></rect>

            <!-- Texto "stlfestival" vetorizado -->
            <path
              d="M114.422 92.3393C113.763 92.3393 113.19 92.2438 112.702 92.0527C112.214 91.8565 111.827 91.5874 111.54 91.2454C111.253 90.8984 111.085 90.496 111.034 90.0383V90.0233H112.679V90.0383C112.785 90.3451 112.986 90.5941 113.283 90.7852C113.579 90.9763 113.972 91.0719 114.459 91.0719C114.796 91.0719 115.091 91.0241 115.342 90.9286C115.599 90.833 115.8 90.6997 115.946 90.5287C116.092 90.3577 116.164 90.1616 116.164 89.9403V89.9252C116.164 89.6687 116.061 89.4524 115.855 89.2764C115.649 89.1003 115.309 88.957 114.837 88.8463L113.524 88.5446C113.011 88.4289 112.586 88.2705 112.249 88.0693C111.912 87.8681 111.663 87.6217 111.502 87.33C111.341 87.0332 111.261 86.6862 111.261 86.2888V86.2813C111.261 85.8035 111.397 85.381 111.668 85.0139C111.94 84.6417 112.314 84.3525 112.792 84.1463C113.275 83.935 113.826 83.8294 114.444 83.8294C115.068 83.8294 115.611 83.9275 116.074 84.1236C116.542 84.3148 116.911 84.5813 117.183 84.9233C117.455 85.2603 117.616 85.6526 117.666 86.1002V86.1078H116.097V86.0927C116.021 85.806 115.84 85.5671 115.553 85.376C115.272 85.1849 114.9 85.0893 114.437 85.0893C114.14 85.0893 113.876 85.1371 113.645 85.2327C113.413 85.3232 113.23 85.4514 113.094 85.6174C112.963 85.7784 112.898 85.9695 112.898 86.1908V86.2059C112.898 86.3769 112.941 86.5277 113.026 86.6585C113.117 86.7843 113.257 86.8974 113.449 86.998C113.64 87.0936 113.886 87.1791 114.188 87.2545L115.493 87.5487C116.278 87.7348 116.861 88.0039 117.243 88.356C117.631 88.708 117.824 89.1808 117.824 89.7743V89.7894C117.824 90.2923 117.676 90.7374 117.379 91.1247C117.082 91.507 116.678 91.8062 116.164 92.0225C115.657 92.2337 115.076 92.3393 114.422 92.3393ZM122.803 92.2337C121.908 92.2337 121.259 92.0627 120.857 91.7207C120.46 91.3737 120.261 90.8079 120.261 90.0233V85.2779H118.979V83.9879H120.261V81.9207H121.936V83.9879H123.694V85.2779H121.936V89.6234C121.936 90.066 122.024 90.3854 122.2 90.5815C122.376 90.7726 122.668 90.8682 123.075 90.8682C123.196 90.8682 123.299 90.8657 123.384 90.8607C123.475 90.8556 123.578 90.8481 123.694 90.838V92.1507C123.563 92.1708 123.422 92.1885 123.271 92.2035C123.12 92.2237 122.964 92.2337 122.803 92.2337ZM125.685 92.1809V80.774H127.322V92.1809H125.685ZM130.34 92.1809V85.2779H128.99V83.9879H130.34V83.1278C130.34 82.5796 130.431 82.1269 130.612 81.7698C130.798 81.4077 131.079 81.1386 131.457 80.9626C131.834 80.7866 132.309 80.6986 132.883 80.6986C133.064 80.6986 133.232 80.7061 133.388 80.7212C133.549 80.7312 133.702 80.7489 133.848 80.774V81.9811C133.773 81.966 133.68 81.9559 133.569 81.9509C133.463 81.9408 133.348 81.9358 133.222 81.9358C132.769 81.9358 132.445 82.0439 132.249 82.2602C132.058 82.4765 131.962 82.7908 131.962 83.2032V83.9879H133.773V85.2779H131.977V92.1809H130.34ZM138.737 92.3393C137.937 92.3393 137.251 92.1683 136.677 91.8263C136.104 91.4793 135.661 90.9889 135.35 90.3552C135.043 89.7215 134.889 88.9721 134.889 88.107V88.0995C134.889 87.2445 135.043 86.4976 135.35 85.8588C135.661 85.2201 136.099 84.7222 136.662 84.3651C137.231 84.008 137.894 83.8294 138.654 83.8294C139.418 83.8294 140.075 84.0004 140.623 84.3424C141.176 84.6844 141.601 85.1648 141.898 85.7834C142.195 86.397 142.343 87.1162 142.343 87.941V88.5144H135.719V87.345H141.528L140.744 88.4314V87.7751C140.744 87.1916 140.653 86.7088 140.472 86.3266C140.296 85.9393 140.052 85.6501 139.74 85.459C139.428 85.2679 139.069 85.1723 138.661 85.1723C138.254 85.1723 137.889 85.2729 137.568 85.4741C137.251 85.6702 136.999 85.9619 136.813 86.3492C136.632 86.7365 136.542 87.2118 136.542 87.7751V88.4314C136.542 88.9696 136.632 89.4298 136.813 89.812C136.994 90.1943 137.251 90.486 137.583 90.6871C137.92 90.8883 138.317 90.9889 138.775 90.9889C139.127 90.9889 139.428 90.9411 139.68 90.8456C139.936 90.745 140.145 90.6218 140.306 90.4759C140.472 90.3301 140.585 90.1867 140.646 90.0459L140.676 89.9855H142.26L142.245 90.0534C142.175 90.325 142.051 90.5966 141.875 90.8682C141.699 91.1348 141.465 91.3787 141.174 91.6C140.887 91.8213 140.54 91.9998 140.133 92.1356C139.73 92.2714 139.265 92.3393 138.737 92.3393ZM147.269 92.3393C146.611 92.3393 146.037 92.2438 145.549 92.0527C145.061 91.8565 144.674 91.5874 144.388 91.2454C144.101 90.8984 143.932 90.496 143.882 90.0383V90.0233H145.527V90.0383C145.632 90.3451 145.834 90.5941 146.13 90.7852C146.427 90.9763 146.819 91.0719 147.307 91.0719C147.644 91.0719 147.938 91.0241 148.19 90.9286C148.446 90.833 148.648 90.6997 148.793 90.5287C148.939 90.3577 149.012 90.1616 149.012 89.9403V89.9252C149.012 89.6687 148.909 89.4524 148.703 89.2764C148.497 89.1003 148.157 88.957 147.684 88.8463L146.372 88.5446C145.859 88.4289 145.434 88.2705 145.097 88.0693C144.76 87.8681 144.511 87.6217 144.35 87.33C144.189 87.0332 144.108 86.6862 144.108 86.2888V86.2813C144.108 85.8035 144.244 85.381 144.516 85.0139C144.787 84.6417 145.162 84.3525 145.64 84.1463C146.123 83.935 146.673 83.8294 147.292 83.8294C147.916 83.8294 148.459 83.9275 148.922 84.1236C149.389 84.3148 149.759 84.5813 150.031 84.9233C150.302 85.2603 150.463 85.6526 150.513 86.1002V86.1078H148.944V86.0927C148.869 85.806 148.688 85.5671 148.401 85.376C148.119 85.1849 147.747 85.0893 147.285 85.0893C146.988 85.0893 146.724 85.1371 146.492 85.2327C146.261 85.3232 146.077 85.4514 145.942 85.6174C145.811 85.7784 145.746 85.9695 145.746 86.1908V86.2059C145.746 86.3769 145.788 86.5277 145.874 86.6585C145.964 86.7843 146.105 86.8974 146.296 86.998C146.487 87.0936 146.734 87.1791 147.036 87.2545L148.341 87.5487C149.125 87.7348 149.709 88.0039 150.091 88.356C150.478 88.708 150.672 89.1808 150.672 89.7743V89.7894C150.672 90.2923 150.524 90.7374 150.227 91.1247C149.93 91.507 149.525 91.8062 149.012 92.0225C148.504 92.2337 147.923 92.3393 147.269 92.3393ZM155.651 92.2337C154.756 92.2337 154.107 92.0627 153.705 91.7207C153.307 91.3737 153.109 90.8079 153.109 90.0233V85.2779H151.826V83.9879H153.109V81.9207H154.784V83.9879H156.541V85.2779H154.784V89.6234C154.784 90.066 154.872 90.3854 155.048 90.5815C155.224 90.7726 155.515 90.8682 155.923 90.8682C156.043 90.8682 156.147 90.8657 156.232 90.8607C156.323 90.8556 156.426 90.8481 156.541 90.838V92.1507C156.411 92.1708 156.27 92.1885 156.119 92.2035C155.968 92.2237 155.812 92.2337 155.651 92.2337ZM158.48 92.1809V83.9879H160.125V92.1809H158.48ZM159.31 82.5243C159.028 82.5243 158.787 82.4237 158.586 82.2225C158.385 82.0213 158.284 81.7799 158.284 81.4982C158.284 81.2166 158.385 80.9777 158.586 80.7815C158.787 80.5804 159.028 80.4798 159.31 80.4798C159.592 80.4798 159.833 80.5804 160.034 80.7815C160.236 80.9777 160.336 81.2166 160.336 81.4982C160.336 81.7799 160.236 82.0213 160.034 82.2225C159.833 82.4237 159.592 82.5243 159.31 82.5243ZM164.757 92.1809L161.792 83.9879H163.535L165.579 90.5212H165.7L167.737 83.9879H169.465L166.507 92.1809H164.757ZM173.078 92.3167C172.56 92.3167 172.095 92.2186 171.683 92.0225C171.275 91.8213 170.953 91.5371 170.717 91.17C170.481 90.8028 170.362 90.3728 170.362 89.8799V89.8648C170.362 89.3719 170.481 88.952 170.717 88.6049C170.958 88.2579 171.305 87.9863 171.758 87.7902C172.216 87.589 172.769 87.4683 173.418 87.428L176.443 87.247V88.4012L173.644 88.5823C173.081 88.6175 172.666 88.7382 172.399 88.9444C172.133 89.1456 172 89.4298 172 89.7969V89.812C172 90.1842 172.143 90.4784 172.43 90.6947C172.716 90.9059 173.078 91.0115 173.516 91.0115C173.923 91.0115 174.285 90.9311 174.602 90.7701C174.924 90.6042 175.176 90.3829 175.357 90.1062C175.538 89.8246 175.628 89.5077 175.628 89.1557V86.5755C175.628 86.1229 175.487 85.7784 175.206 85.542C174.929 85.3006 174.517 85.1798 173.969 85.1798C173.511 85.1798 173.136 85.2603 172.844 85.4213C172.558 85.5822 172.367 85.8085 172.271 86.1002L172.256 86.1229H170.679L170.687 86.0701C170.752 85.6174 170.931 85.2251 171.222 84.8932C171.519 84.5562 171.906 84.2947 172.384 84.1086C172.867 83.9225 173.418 83.8294 174.036 83.8294C174.725 83.8294 175.309 83.9401 175.787 84.1614C176.27 84.3776 176.634 84.692 176.881 85.1044C177.132 85.5118 177.258 86.0022 177.258 86.5755V92.1809H175.628V91.0191H175.508C175.347 91.2957 175.145 91.5321 174.904 91.7283C174.663 91.9194 174.389 92.0652 174.082 92.1658C173.775 92.2664 173.44 92.3167 173.078 92.3167ZM179.642 92.1809V80.774H181.279V92.1809H179.642Z"
              fill="#181930"></path>

            <!-- Ícone de verificação azul -->
            <path
              d="M195.908 78.925L197.195 80.9155L199.563 81.034L199.682 83.4014L201.674 84.6876L200.594 86.7981L201.675 88.9075L199.685 90.1949L199.566 92.5626L197.199 92.6822L195.912 94.6739L193.802 93.5935L191.693 94.675L190.405 92.6845L188.037 92.566L187.918 90.1986L185.926 88.9124L187.007 86.8019L185.925 84.6925L187.916 83.4051L188.034 81.0374L190.401 80.9177L191.688 78.9261L193.798 80.0065L195.908 78.925Z"
              fill="#42A5F5"></path>
            <path
              d="M192.824 89.5206L190.387 87.085L191.183 86.2896L192.836 87.9422L196.424 84.4645L197.207 85.2722L192.824 89.5206Z"
              fill="white"></path>

            <!-- Área do conteúdo do post onde a imagem do artista será inserida -->
            <foreignObject
              x="39.8"
              y="119.776"
              width="377.249"
              height="465.024"
            >
              <div class="lineup-artist-container" id="lineup-artist-left">
                <img
                  src={artists[0]?.imageUrl ?? ''}
                  alt={artists[0]?.name ?? ''}
                  class="lineup-artist-image"
                  loading="eager"
                />
              </div>
            </foreignObject>

            <!-- Footer branco -->
            <path
              d="M40.8 627.895C40.8 637.688 48.7385 645.626 58.531 645.626H400.318C410.11 645.626 418.049 637.688 418.049 627.895V589.8H40.8V627.895Z"
              fill="white"></path>

            <!-- Ícones de interação -->
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M386.43 620.918L393.921 627.161C394.219 627.41 394.672 627.198 394.672 626.81V607.639H378.187V626.81C378.187 627.198 378.64 627.41 378.938 627.161L386.43 620.918ZM380.248 623.388L385.11 619.335C385.875 618.699 386.985 618.699 387.749 619.335L392.612 623.388V609.699H380.248V623.388Z"
              fill="#0C2322"></path>
            <path
              d="M70.004 627.484C69.7272 627.484 69.5427 627.39 69.2659 627.297C66.498 625.248 63.73 623.013 61.608 619.939C60.9621 618.821 59.9472 617.145 59.9472 615.095C59.8549 612.581 61.3312 610.252 63.4532 609.32C65.5753 608.389 68.1587 608.948 70.004 610.718L70.0963 610.904C70.1885 610.811 70.2808 610.718 70.373 610.624C72.4029 608.762 75.1708 608.389 77.3851 609.693C79.5994 611.09 80.7066 613.885 80.0608 616.586C79.5072 618.914 78.031 620.777 76.7393 622.268C74.894 624.317 72.7719 625.9 70.9266 627.297C70.7421 627.39 70.373 627.484 70.004 627.484ZM65.5753 610.718C65.114 610.718 64.5604 610.811 64.0991 610.997C62.7151 611.649 61.7925 613.326 61.7925 615.095C61.7925 616.306 62.2538 617.517 63.1765 618.914C65.0217 621.616 67.6051 623.665 70.0963 625.528C71.8493 624.224 73.6946 622.733 75.3553 620.87C76.5547 619.473 77.7542 617.983 78.2155 616.027C78.6768 614.164 77.9387 612.115 76.3702 611.183C74.894 610.252 73.0487 610.531 71.5725 611.929C71.3879 612.115 71.2034 612.301 71.0189 612.487L70.0963 613.512L68.62 612.022C67.7897 611.183 66.6825 610.718 65.5753 610.718Z"
              fill="#0C1014"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M99.5959 611.533C99.0222 610.891 99.3893 609.721 100.394 609.721L117.082 609.721C117.381 609.721 117.658 609.879 117.81 610.137C117.962 610.395 117.967 610.714 117.822 610.976L109.479 626.081C109.002 626.943 107.77 626.758 107.508 625.859L105.139 617.74L99.5959 611.533ZM106.891 617.707L108.717 623.961L114.813 612.924L106.891 617.707ZM114.044 611.412L101.756 611.412L106.061 616.233L114.044 611.412Z"
              fill="#0C1014"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M146.22 609.536C141.704 609.536 138.043 613.197 138.043 617.713C138.043 622.229 141.704 625.889 146.22 625.889C147.754 625.889 149.187 625.468 150.412 624.735C150.608 624.617 150.844 624.584 151.065 624.643L153.92 625.408L153.154 622.551C153.095 622.33 153.128 622.095 153.245 621.899C153.976 620.675 154.396 619.244 154.396 617.713C154.396 613.197 150.736 609.536 146.22 609.536ZM136.352 617.713C136.352 612.263 140.77 607.845 146.22 607.845C151.67 607.845 156.088 612.263 156.088 617.713C156.088 619.428 155.65 621.043 154.879 622.45L155.933 626.386C156.012 626.677 155.928 626.989 155.714 627.203C155.501 627.416 155.189 627.5 154.897 627.422L150.964 626.368C149.556 627.141 147.938 627.581 146.22 627.581C140.77 627.581 136.352 623.163 136.352 617.713Z"
              fill="#0C2322"></path>
          </g>
          <defs>
            <filter
              id="filter0_d_right"
              x="0"
              y="0"
              width="484"
              height="698"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha"></feColorMatrix>
              <feOffset dx="13" dy="-1"></feOffset>
              <feGaussianBlur stdDeviation="26.4"></feGaussianBlur>
              <feComposite in2="hardAlpha" operator="out"></feComposite>
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.05 0"
              ></feColorMatrix>
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow"></feBlend>
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow"
                result="shape"></feBlend>
            </filter>
            <pattern
              id="pattern0_right"
              patternContentUnits="objectBoundingBox"
              width="1"
              height="1"
            >
              <use
                xlink:href="#image0_right"
                transform="matrix(0.00191936 0 0 0.00136528 -0.182811 0.00680237)"
              ></use>
            </pattern>
            <image
              id="image0_right"
              width="755"
              height="708"
              xlink:href="https://res.cloudinary.com/dazkdemvu/image/upload/v1769618833/stl-festival/logos/logo-stl_ydnwga.svg"
            />
          </defs>
        </svg>
      </div>
    </div>
  </div>

  <!-- Componente React para interatividade (client:visible para lazy load) -->
  <LineupReact client:visible artists={artists} />

  <!-- Hint de scroll (acessibilidade) -->
  <div class="lineup-scroll-hint" role="status" aria-live="polite">
    <p class="text-sm text-stl-cream/70">
      {t('lineup.scrollHint')}
    </p>
  </div>
</section>

<script>
  // Script para atualizar imagens dos mockups baseado em data attributes do React
  function updateMockupImages() {
    // Mockup esquerdo
    const leftData = document.getElementById('lineup-left-artist');
    const leftImg = document
      .getElementById('lineup-artist-left')
      ?.querySelector('img') as HTMLImageElement;

    if (leftData && leftImg) {
      const imageUrl = leftData.getAttribute('data-artist-image');
      const artistName = leftData.getAttribute('data-artist-name');

      if (imageUrl && imageUrl !== leftImg.src) {
        leftImg.style.opacity = '0';
        setTimeout(() => {
          leftImg.src = imageUrl;
          leftImg.alt = artistName || '';
          leftImg.style.opacity = '1';
        }, 150);
      }
    }

    // Mockup direito
    const rightData = document.getElementById('lineup-right-artist');
    const rightImg = document
      .getElementById('lineup-artist-right')
      ?.querySelector('img') as HTMLImageElement;

    if (rightData && rightImg) {
      const imageUrl = rightData.getAttribute('data-artist-image');
      const artistName = rightData.getAttribute('data-artist-name');

      if (imageUrl && imageUrl !== rightImg.src) {
        rightImg.style.opacity = '0';
        setTimeout(() => {
          rightImg.src = imageUrl;
          rightImg.alt = artistName || '';
          rightImg.style.opacity = '1';
        }, 150);
      }
    }
  }

  // Observer para mudanças nos data attributes
  const observerConfig = {
    attributes: true,
    attributeFilter: ['data-artist-image'],
  };

  const leftObserver = new MutationObserver(updateMockupImages);
  const rightObserver = new MutationObserver(updateMockupImages);

  const leftData = document.getElementById('lineup-left-artist');
  const rightData = document.getElementById('lineup-right-artist');

  if (leftData) leftObserver.observe(leftData, observerConfig);
  if (rightData) rightObserver.observe(rightData, observerConfig);

  // Garantir que o vídeo inicie quando visível
  const lineupVideo = document.querySelector(
    '.lineup-video'
  ) as HTMLVideoElement;

  if (lineupVideo) {
    // Intersection Observer para iniciar vídeo quando visível
    const videoObserver = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            lineupVideo.play().catch(() => {
              // Silenciar erro se autoplay falhar
            });
          } else {
            lineupVideo.pause();
          }
        });
      },
      { threshold: 0.5 }
    );

    videoObserver.observe(lineupVideo);

    // Respeitar prefers-reduced-motion
    const prefersReducedMotion = window.matchMedia(
      '(prefers-reduced-motion: reduce)'
    ).matches;

    if (prefersReducedMotion) {
      lineupVideo.pause();
    }
  }
</script>

<style>
  /* ========== SEÇÃO LINEUP ========== */
  .lineup-section {
    position: relative;
    min-height: 200vh; /* Mobile: altura para scroll */
    width: 100%;
    background: linear-gradient(
      180deg,
      theme('colors.stl-indigo.dark') 0%,
      theme('colors.stl-green.dark') 100%
    );
    padding: var(--spacing-2xl) var(--spacing-lg);
    overflow: hidden;
  }

  /* Container principal */
  .lineup-container {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  /* Header da seção */
  .lineup-header {
    text-align: center;
    margin-bottom: var(--spacing-2xl);
  }

  .lineup-title {
    font-family: var(--font-heading);
    font-size: clamp(2.5rem, 8vw, 5rem);
    font-weight: 700;
    color: theme('colors.stl-cream.DEFAULT');
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: var(--spacing-md);
    text-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  }

  .lineup-subtitle {
    font-family: var(--font-body);
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: theme('colors.stl-gold.DEFAULT');
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }

  /* Grid dos mockups */
  .lineup-mockups-grid {
    display: grid;
    gap: var(--spacing-md); /* Reduzido para deixar mais próximos */
    align-items: center;
    justify-items: center;
    margin-top: var(--spacing-3xl);
  }

  /* Mockup base */
  .lineup-mockup {
    position: relative;
    transition: transform 0.3s ease-out;
  }

  .lineup-mockup__svg {
    width: 100%;
    height: auto;
    filter: drop-shadow(0 20px 40px rgba(0, 0, 0, 0.3));
  }

  /* Container de artista (dentro do SVG) */
  .lineup-artist-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
  }

  .lineup-artist-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-out;
  }

  /* Container de vídeo (dentro do iPhone SVG) */
  .lineup-video-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lineup-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Hint de scroll */
  .lineup-scroll-hint {
    text-align: center;
    margin-top: var(--spacing-2xl);
    padding: var(--spacing-md);
  }

  /* ========== RESPONSIVIDADE ========== */

  /* Mobile (< 768px) - Stack vertical */
  @media (max-width: 767px) {
    .lineup-section {
      min-height: 250vh;
      padding: var(--spacing-xl) var(--spacing-md);
    }

    .lineup-mockups-grid {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      gap: var(--spacing-2xl);
    }

    /* iPhone no topo, menor */
    .lineup-mockup--center {
      order: 1;
      max-width: 240px; /* Reduzido para mobile */
    }

    /* Posts em grid 2 colunas abaixo */
    .lineup-mockup--left {
      order: 2;
      max-width: 180px;
    }

    .lineup-mockup--right {
      order: 3;
      max-width: 180px;
    }

    /* Grid 2 colunas para os posts */
    .lineup-mockups-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .lineup-mockup--left,
    .lineup-mockup--right {
      flex: 0 0 45%;
    }
  }

  /* Tablet (768px - 1023px) */
  @media (min-width: 768px) and (max-width: 1023px) {
    .lineup-section {
      min-height: 180vh;
    }

    .lineup-mockups-grid {
      grid-template-columns: auto auto auto;
      gap: var(--spacing-sm); /* Reduzido para proximidade */
      justify-content: center;
    }

    .lineup-mockup--left,
    .lineup-mockup--right {
      max-width: 200px;
    }

    .lineup-mockup--center {
      max-width: 280px; /* Reduzido para melhor proporção */
    }
  }

  /* Desktop (>= 1024px) */
  @media (min-width: 1024px) {
    .lineup-section {
      min-height: 150vh;
    }

    .lineup-mockups-grid {
      grid-template-columns: auto auto auto;
      gap: var(--spacing-md); /* Próximos conforme referência */
      align-items: center; /* CRÍTICO: centraliza Posts verticalmente */
      justify-content: center;
    }

    .lineup-mockup--left,
    .lineup-mockup--right {
      max-width: 380px; /* Aumentado para melhor proporção */
      position: sticky;
      top: 50%;
      transform: translateY(-50%); /* Centralização vertical perfeita */
    }

    .lineup-mockup--center {
      max-width: 320px; /* Reduzido para não cortar título */
      position: sticky;
      top: 50%;
      transform: translateY(-50%);
    }

    /* Hover effect em desktop */
    .lineup-mockup:hover {
      transform: translateY(-50%) scale(1.02); /* Mantém centralização no hover */
    }
  }

  /* Large desktop (>= 1440px) */
  @media (min-width: 1440px) {
    .lineup-mockups-grid {
      gap: var(--spacing-lg); /* Proximidade mantida */
    }

    .lineup-mockup--center {
      max-width: 360px; /* Proporcionalmente menor que Posts */
    }

    .lineup-mockup--left,
    .lineup-mockup--right {
      max-width: 420px; /* Posts maiores para melhor proporção */
    }
  }

  /* ========== ANIMAÇÕES E TRANSIÇÕES ========== */

  /* Suporte a prefers-reduced-motion */
  @media (prefers-reduced-motion: reduce) {
    .lineup-mockup {
      transition: none !important;
    }

    .lineup-artist-image,
    .lineup-video-placeholder {
      transition: none !important;
    }

    * {
      animation: none !important;
      transition-duration: 0.01ms !important;
    }
  }
</style>
